body{
  background-image: url('../img/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
}

p{
	color: white;
}

#soundcloud-player{
	background-color:black;
	height: 100px;
	width: 600px;
	position:fixed;
	right: 3%;
	bottom: 5%;
}

#rod-kid{
	width: 234px;
	float: left;
	margin-right: 33px;
	border: 1px solid;
}

#rod-dre{
	width: 259px;
	float: right;
	margin-left: 33px;
	border: 1px solid;
}