body{
  background-image: url('../img/background_shows.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
}

.agenda-shows{
	background-color: black;
	float: left;
	margin: 50px 0px 0px 50px;
	border: 2px solid #551101;
	color: white;
	padding: 10px;
}
	.agenda-shows li{
		font-size: 14px;
	}

.custom-list-class{
	list-style-type: none;
}
