<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/foundation.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>
      <nav class="top-bar hide-for-small" data-topbar="">
        <ul class="title-area">
          <li class="name">
            <h1><a href="index.html">{{ site.name }}</a></h1>
          </li>
        </ul>
        <section class="top-bar-section">
          <ul class="right">
            <li class="has-dropdown not-click">
              <a href="noticias.html" class="">Shows</a>
              <ul class="dropdown"><li class="title back js-generated"><h5><a href="javascript:void(0)">Back</a></h5></li>
                <li><a href="http://foundation.zurb.com/learn/features.html">Músicas</a></li>
                <li><a href="http://foundation.zurb.com/learn/faq.html">Downloads</a></li>
                <li><a href="http://foundation.zurb.com/learn/case-washington-post.html">Case Studies</a></li>
                <li><a href="http://foundation.zurb.com/learn/website-examples.html">Website Examples</a></li>
                <li><a href="http://foundation.zurb.com/learn/video-started-with-foundation.html">Videos</a></li>
                <li><a href="http://foundation.zurb.com/learn/training.html">Training</a></li>
                <li><a href="http://foundation.zurb.com/learn/about.html">About</a></li>
              </ul>
            </li>
            <li class="has-dropdown not-click">
              <a href="discografia.html" class="">Discografia</a>
              <ul class="dropdown"><li class="title back js-generated"><h5><a href="javascript:void(0)">Back</a></h5></li>
                <li><a href="http://foundation.zurb.com/templates.html">Add-ons</a></li>
                <li><a href="http://foundation.zurb.com/docs">Docs</a></li>
                <li><a href="http://foundation.zurb.com/develop/download.html">Download</a></li>
                <li><a href="http://foundation.zurb.com/develop/contribute.html">Contribute</a></li>
                <li><a href="http://foundation.zurb.com/develop/tools.html">Tools</a></li>
              </ul>
            </li>
            <li class="has-dropdown not-click">
              <a href="videos.html" class="">Videos</a>
              <ul class="dropdown"><li class="title back js-generated"><h5><a href="javascript:void(0)">Back</a></h5></li>
                <li><a href="http://foundation.zurb.com/templates.html">Add-ons</a></li>
                <li><a href="http://foundation.zurb.com/docs">Docs</a></li>
                <li><a href="http://foundation.zurb.com/develop/download.html">Download</a></li>
                <li><a href="http://foundation.zurb.com/develop/contribute.html">Contribute</a></li>
                <li><a href="http://foundation.zurb.com/develop/tools.html">Tools</a></li>
              </ul>
            </li>
            <li class="has-dropdown not-click">
              <a href="downloads.html" class="">Downloads</a>
              <ul class="dropdown"><li class="title back js-generated"><h5><a href="javascript:void(0)">Back</a></h5></li>
                <li><a href="http://foundation.zurb.com/support/support.html">Support Channels</a></li>
                <li><a href="http://foundation.zurb.com/forum">Foundation Forum</a></li>
                <li><a href="http://foundation.zurb.com/support/images-and-badges.html">Images &amp; Badges</a></li>
              </ul>
            </li>
            <li>
              <a href="biografia.html" class="">Biografia</a>
            </li>
            <li>
              <a href="http://foundation.zurb.com/business/services.html" class="">Contato</a>
            </li>
            
           </ul>
        </section>
      </nav>


      <div id="soundcloud-player"></div>

      <script type="text/javascript" src="js/vendor/modernizr.min.js"></script>
      <script src="http://connect.soundcloud.com/sdk.js"></script>
      <script type="text/javascript" src="js/soundcloud.js"></script>
    </body>
</html>